<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringLocal"
    providerName="MySql.Data.MySqlClient"
    connectionString="Server=localhost;Database=academia;Integrated
         Security=false; User=root; Password=;"/>
    <add name="ConnStringExpress"
    providerName="MySql.Data.MySqlClient"
    connectionString="Server=localhost\SQLEXPRESS;Database=academia;
        Integrated Security=false; User=root; Password=;"/>
    <add name="ConnStringServerISI"
    providerName="MySql.Data.MySqlClient"
    connectionString="Server=serverisi; Database=academia; Integrated
        Security=false; User=root; Password=;"/>
  </connectionStrings>
</configuration>